.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .container1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2.25em;

        .title_about{
            font-family: Bebas;
            font-size: 128px;
        }
    }

    .container2{
        background-color: #F4F4F4;
        display: flex;
        height: 73vh;
        justify-content: space-between;
        position: relative;
        padding-left: 16vw;
        padding-right: 16vw;

        .left_side_image_text{   
            
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // padding-left: 15vw;

            .me{
                height: calc(346px * 1.2);
                width: calc(346px * 1.2);
                object-fit: cover; 
                object-position: bottom; 
                margin-bottom: 3vh;
            }
            .title_text{
                color: #929292;
                font-family: CofoLight;
                margin-bottom: 1vh;
                font-size: 18px;
            }
            .description_text{
                width: auto;
                color: black;
                font-family: CofoLight;
                font-size: 18px;
            }
            .description_text2{
                width: 60%;
                color: black;
                font-family: CofoLight;
                font-size: 18px;
            }
            
        }

        .about_messages{
            
            display: flex;
            flex-direction: column;
            width: 50vw;
            justify-content: center;

            .some_message {
                display: flex;
                align-items: center;
                width: auto;
                justify-content: start;
                padding-bottom: 2.5vh;
            }

            .some_message p{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 60px;
                border-radius: 30px;
                width: 166px;
                font-family: CofoThin;
                font-size: 18px;
                color: white;
                background-color: black;
                transition: 0.5s;
            }

            .some_message p:hover{
                margin-left: 2em;
                transition: 0.5s;
            }
            
            .for_my_messages{

           
                .my_message1{
                    width: 100%;
                    height: 104px;
                    display: flex;
                    justify-content: end;
                    align-items: center; 
                    width: auto;
                    padding-bottom: 1.5em;


                    .cont_for_text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        background-color: #565656;
                        height: 104px;
                        width: auto;
                        border-radius: 30px;
                        padding-left: 19px;
                        padding-right: 19px;
                        transition: 0.5s;
                    }
                    
                    p{
                        color: white;
                        width: 100%;
                        display: flex;
                        justify-content: start;
                        font-family: CofoThin;
                        font-size: 18px;
                    }
                }

                .my_message2{
                    width: 100%;
                    height: 126px;
                    display: flex;
                    justify-content: end;
                    align-items: center; 
                    width: auto;
                    padding-bottom: 1.5em;

                    .cont_for_text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: #565656;
                        height: 126px;
                        width: auto;
                        border-radius: 30px;
                        padding-left: 19px;
                        padding-right: 19px;
                        transition: 0.5s;
                    }
                    
                    p{
                        color: white;
                        width: 415px;
                        display: flex;
                        font-family: CofoThin;
                        font-size: 18px;
                    }
                }
                
                .my_message3{
                    
                    width: 100%;
                    height: 82px;
                    display: flex;
                    justify-content: end;
                    align-items: center; 
                    width: auto;
                    padding-bottom: 1.5em;

                    .cont_for_text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: #565656;
                        height: 82px;
                        border-radius: 30px;
                        padding-left: 19px;
                        padding-right: 19px;
                        transition: 0.5s;
                    }
                    
                    p{
                        color: white;
                        width: 392px;
                        display: flex;
                        font-family: CofoThin;
                        font-size: 18px;
                    }
                }
                            
                .my_message_new{
                    
                    width: 100%;
                    height: 30px;
                    display: flex;
                    justify-content: end;
                    align-items: center; 
                    padding-bottom: 4vh;
                    width: auto;
                    

                    .cont_for_text{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        background-color: #565656;
                        height: 30px;
                        width: 40px;
                        border-radius: 30px;
                        padding-left: 13px;
                        padding-right: 13px;
                    }

                    .circle1, .circle2, .circle3{
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: white;
                    }
                } 
                .cont_for_text:hover{
                    margin-right: 2em;
                    transition: 0.5s;
                }
            }
        }
    }

    .container3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 2.25em;
        padding-top: 2.25em;


        .title_stack{
            font-family: Bebas;
            font-size: 128px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .container_4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5em;

        .cards_list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding-left: 5em;
            padding-right: 5em;
            width: 100%;

            .for_line{
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                
                .hr{
                    position: absolute;
                    bottom: -5px;
                    height: 10px;
                    width: 120px;
                    border-radius: 5px;
                    background-color: black;
                }
            }
            

            .card {
                width: 250px;
                height: 400px;
                border: 1px solid #D9D9D9;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: end;
                padding-top: 64px;
                transition: 0.5s;
                

                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .line{
                    border: none;
                    width: 127px;
                    height: 1px;  
                    background-color: #D9D9D9;     
                    transition: 0.5s;            
                }

                .html{
                    width: 119px;
                    height: 119px;
                    padding-bottom: 95px;
                    transition: 0.5s;
                }

                .jsts{
                    width: 134px;
                    height: 162px;
                    padding-bottom: 95px;
                    transition: 0.5s;
                }

                .css{
                    width: 119px;
                    height: 119px;
                    padding-bottom: 95px;
                    transition: 0.5s;
                }

                .text_card, .text_card3{
                    padding-top: 19px;
                    font-size: 20px;
                    width: 90%;
                    font-family: CofoThin;
                    padding-bottom: 70px;
                }

                .text_card2{
                    display: flex;
                    justify-content: center;
                    padding-top: 19px;
                    font-size: 20px;
                    width: 90%;
                    font-family: CofoThin;
                    padding-bottom: 70px;
                }
            }

            .card:hover{
                width: 300px;
                height: 500px;
                transition: 0.5s;

                .line{
                    border: none;
                    width: 170px;
                    height: 1px;  
                    background-color: #D9D9D9; 
                    transition: 0.5s;               
                }
                .html{
                    width: calc(119px * 1.5);
                    height: calc(119px * 1.5);
                    padding-bottom: 95px;
                    transition: 0.5s;
                }

                .jsts{
                    width: calc(134px * 1.5);
                    height: calc(162px * 1.5);
                    padding-bottom: 95px;
                    transition: 0.5s;
                }

                .css{
                    width: calc(119px * 1.5);
                    height: calc(119px * 1.5);
                    padding-bottom: 95px;
                    transition: 0.5s;
                }
            }
        }
    }

    .container_5{
        overflow: hidden;
        height: 100vh;
        display: flex;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;

        .frame_work_list{

            width: 100vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: CofoMedium;
            padding-left: 5em;
            padding-right: 5em;
            margin: 0;
            list-style: none;
            height: fit-content;
            height: 100%;

            .big_frame_text, .big_works_text{

                width: 100%;
                display: flex;
                justify-content: start;
                font-size: 300px;
            }

            .big_works_text{
                justify-content: end;

                transform: translateX(100%);
            }

        }
        
                    
        .animate_container{
            animation-duration: 1s;
            animation-name: animate;
        }
        .animate_container2{
            animation-duration: 1s;
            animation-name: animate2;
            animation-delay: 0.3s;
            animation-fill-mode: forwards;
        }

        @keyframes animate {
            0%{
                transform: translateY(100%);
            }
                

            100%{
                transform: translateY(0%);
            }
                
        }

        @keyframes animate2 {
            0%{
                transform: translateX(100%);
            }
                

            100%{
                transform: translateX(0%);
            }
        }
    }

    .framworks_section{
        width: 100vw;
        height: 360px;
        display: flex;


        .frameworks_list{
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 10vw;
            padding-right: 10vw;

            .nest_element, .next_elemet{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                width: 35vw;
                height: 40%;
                border: 1px solid #D9D9D9;  
                padding-left: 1em;

                .title_next, .title_nest{
                    font-family: CofoMedium;
                    width: auto;
                }
                .text_nest, .text_next{
                    font-family: CofoLight;
                    width: 80%;
                }
                
                .nest_image_container, .next_image_container{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nest_img{
                        width: 80px;
                        height: 80px;
                        // object-fit: cover; 
                        // object-position: top; 
                    }

                    .next_img{
                        width: 130px;
                        height: 80px;
                    }
                }
            }
        }
        .animate_frameworks_description{
            animation-duration: 1s;
            animation-name: animate;
            animation-fill-mode: forwards;
        }

        @keyframes animate_frameworks_description {
            0%{
                transform: translateY(100%);
            }
                

            100%{
                transform: translateX(0%);
            }
        }
    }

    @media (min-width: 1140px) and (max-width: 1390px) {
    
        .container2{
            .left_side_image_text{
        
                .me{
                    height: calc(300px);
                    width: calc(300px);
                    object-fit: cover; 
                    object-position: bottom; 
                    margin-bottom: 3vh;
                }
            }
        
        }
    }

    .experience_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 660px;
        background-color: #eeeeee ;
        padding-top: 10vh;
        overflow: hidden;
        

        .title_experience{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Bebas;
            font-size: 128px;
            width: 100%;
            height: 20%;
        }

        .carousel{
            display: flex;
            align-items: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            height: 80%;
            scrollbar-width: none;
            -ms-overflow-style: none;

            .git, .agile_scrum, .figma, .architecture, .teamwork, .english{
                flex: 0 0 auto;
                flex-direction: column;
                width: 22%;
                background-color: white;
                height: 400px;
                margin-left: 5em;
                border-radius: 10px;
                font-family: CofoLight;
                font-size: 18px;
                padding-left: 1vw;
                padding-right: 1vw;

                h1{
                    font-family: CofoMedium;
                    font-size: 20px;
                    padding-top: 5vh;
                    width: 100%;
                }
                p{
                    width: 95%;
                }
            }

            .git{
                margin-left: 8em;
            }
            .english{
                margin-right: 8em;
            }
        }
        .carousel::-webkit-scrollbar {
            display: none; /* Скрыть полосу прокрутки в Chrome, Safari и Opera */
          }
    }

    .repositories{
        height: 30em;
        width: 100vw;

        .container_8{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            .git_button{
                background-color: black;
                color: white;
                border: none;
                font-family: CofoRegular;
                width: 205px;
                height: 60px;
                border-radius: 30px
            }
        }
    }



}

