*{
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
}

li{
    list-style-type: none;
}

.html{
    width: 100%;
}

@font-face {
    font-family: CofoThin;
    src: 
    url(../src/assets/fonts/CoFoGothic-Thin.otf);

  }

@font-face{
    font-family: CofoLight;
    src: 
    url(../src/assets/fonts/CoFoGothic-Light.otf);
}

@font-face{
    font-family: CofoMedium;
    src: 
    url(../src/assets/fonts/CoFoGothic-Medium.otf);
}

@font-face{
    font-family: CofoRegular;
    src: 
    url(../src/assets/fonts/CoFoGothic-Regular.otf);
}